h2{
    color:black
}
body{
  background-image:url("thumb2-old-paper-texture-4k-paper-background-paper-textures-old-paper.jpg");background-size: 1000px 1000px;no repeat
  
}


   
.serif {
    font-family:'; 
  }

  p {
    font-family:'', Courier, monospace;
    font-size: 15px;
  }