h1{

  color:darkblue;
  }
  h2{
  
    color:brown;
    }
  
  body{
    background-image:url("thumb2-old-paper-texture-4k-paper-background-paper-textures-old-paper.jpg");background-size: 1000px 1000px;no repeat
  }
 
  
    p {
      font-family:"Lucida Handwriting", cursive;
    }
  
    p {
      font-size: 18px;
    }
  
