h1{
    font-family: 'Arial Narrow Bold', sans-serif;
}
body{
  background-image: url("utilisation-feuilles-mortes.jpg");background-size: 1000px 1000px;no repeat
 
  
}

p {
  font-family:'Lucida Handwriting',cursive;
  font-size: 20px;
}