
body{
    background-image:url("imotsko-polje-778x445.jpg");background-size: 900px 900px;no repeat
    
  }
  
  p {
      font-family:'Lucida Handwriting',cursive;
      font-size: 20px;
    }
  